@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eff5f5;
    font-family: 'Poppins';
    margin: 0;
    color: #181823;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #00425a;
    border-radius: 50px;
    border: solid 1px #eff5f5;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #00425a86;
}

body::-webkit-scrollbar-track {
    background-color: #00425a54;
}

header {
    background: linear-gradient(rgb(49 49 49 / 28%), rgb(0 0 0 / 75%)),
        url('../images/portada.jpg') no-repeat center bottom;
    background-size: cover;
    padding-bottom: 0.1%;
}

h1 {
    font-family: 'Belanosima';
    font-size: 2em;
    margin-block: 2%;
}

h1 a {
    text-decoration: none;
    color: #eff5f5;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h1 a:hover {
    color: #fc7300;
}

nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
}

nav.show {
    display: block;
    max-height: 500px;
}

.navigation {
    background-color: #00425a;
    margin-block: 0;
}

ul {
    list-style: none;
    padding-inline: 0;
}

.navigation li {
    padding-block: 1%;
}

.navItem {
    color: #eff5f5;
}

.navItem:hover {
    color: #181823;
    color: #fc7300;
}

#btnMenu{
    height: 45px;
    border-radius: 20%;
    border: 0;
    position: absolute;
    padding: 0px;
    left: 1%;
    background-color: #00425a;
}

#btnMenu img {
    height: 100%;
    border-radius: 20%;
    border-color: black;
    border: solid 1px;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Belanosima';
    padding-inline: 0.3em;
    margin-bottom: 0.3em;
}

section {
    padding: 1.5%;
}

.seccion-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-elegirnos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia {
    padding-inline: 0.5%;
    border: solid #181823;
    margin: 0.5%;
    height: 100%;
}

.noticia p {
    margin: 0.5%;
}

h3 {
    margin: 0;
}

#propuesta-educativa {
    padding-bottom: 5%;
}

.propuestas {
    display: grid;
    grid-template-areas:
        "figure figure"
        "figure figure";
}

.propuesta {
    width: 45%;
}

.propuesta img {
    width: 85px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#ultimas-noticias, #propuesta-educativa, #por-que-elegirnos {
    border-top: solid 1px #181823;
}

footer {
    background-color: #1f8a70;
}

footer a, footer li, footer h2 {
    color: #eff5f5;
}

footer li img{
    block-size: 1em;
}

.redes a:hover {
    color: #fc7300;
    font-weight: bold;
}

.mapa {
    border: 0;
    width: 235px;
    height: 200px;
}

.info-contacto {
    margin-bottom: 0;
}

a {
  text-decoration: none;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc7300;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.seccion-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    border-radius: 20px;
    border-style: solid;
    font-weight: bolder;
    background-color: #00425a;
    margin-block: 3em;
    padding-bottom: 1em;
    padding-inline: 1.5em;
}

.formulario h2 {
    color: #eff5f5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    color: #eff5f5;
    font-weight: bold;
}

form button {
    font-family: 'Poppins';
    margin-top: 2%;
    font-weight: bold;
    background-color: #1f8a70;
    border-radius: 10px;
    height: 3em;
    border: solid 1px #eff5f5;
    color: #eff5f5;
}


@media screen and (min-width: 700px){
    h1 {
        font-size: 4em;
    }

    nav {
        overflow: visible;
        max-height: max-content;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        font-weight: bolder;
        justify-content: space-around;
    }

    #btnMenu {
        display: none;
    }

    h2 {
        font-size: 2em;
    }

    .seccion-quienes-somos {
        flex-direction: row;
    }

    .seccion-elegirnos {
        flex-direction: row;
    }

    .propuestas {
        grid-template-areas: "figure figure figure figure";
    }

    .propuesta img {
        width: 100px;
        height: 100px;
    }

    .noticias {
        flex-direction: row;
        justify-content: space-around;
    }

    .noticia {
        width: 45%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    ul {
        text-align: revert;
    }

    .info-contacto {
        text-align: right;
    }

    .formulario {
        box-shadow: 0px 0px 0.5em 1em #181823;
    }
}

@media screen and (min-width: 1000px){
    .navItem {
        font-size: 1.2em;
    }

    .mapa {
        width: 500px;
    }

}